<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<nav th:fragment="nav" class="main-nav">
    <div class="nav-content">
        <ul sec:authorize="hasAuthority('ADMIN')" class="nav-menu">
            <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/admin/events}">Manage Events</a></li>
            <li><a th:href="@{/admin/events/requests}">Event Requests</a></li>
            <li><a th:href="@{/admin/users}">Manage Users</a></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
        </ul>

        <ul sec:authorize="hasAuthority('ORGANIZER')" class="nav-menu">
            <li><a th:href="@{/organizer/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/organizer/events/new}">Request Event</a></li>
            <li><a th:href="@{/organizer/events}">Manage Request Events</a></li>
            <li><a th:href="@{/user/events}">Browse Events</a></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
        </ul>

        <ul sec:authorize="hasAuthority('USER')" class="nav-menu">
            <li><a th:href="@{/user/dashboard}">Dashboard</a></li>
            <li><a th:href="@{/user/events}">Browse Events</a></li>
            <li><a th:href="@{/user/my-events}">My Events</a></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
        </ul>

        <form th:action="@{/logout}" method="post" class="logout-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn-logout">Logout</button>
        </form>
    </div>
</nav>
</body>
</html>